<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>カテゴリ登録</title>
	<link rel="stylesheet" href="/css/admin-style.css" />
	<style>
	</style>
</head>
<body>
	<header>
		<h1>カテゴリ登録</h1>
	</header>
	<main>
		<article>
			<form action="/admin/categoris">
			<table class="list-form" border="1">
				<tr>
					<th>カテゴリ名</th>
					<td>
						<input type="text" name="name" />
					</td>
				</tr>
			</table>
			<button formaction="/admin/categories/add" formmethod="post">登録</button>
			</form>
		</article>
	</main>
	<footer>
		<div id="copyright">&copy;2025 Office HOGE.</div>
	</footer>
</body>
</html>