<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>カテゴリ更新</title>
	<link rel="stylesheet" href="/css/admin-style.css" />
	<style>
	</style>
</head>
<body>
	<header>
		<h1>カテゴリ更新</h1>
	</header>
	<main>
		<article>
			<form action="/admin/categoris">
			<table class="list-form" border="1">
				<tr>
					<th>カテゴリID</th>
					<td th:text="${category.id}"></td>
				</tr>
				<tr>
					<th>カテゴリ名</th>
					<td>
						<input type="text" name="name" th:value="${category.name}" />
					</td>
				</tr>
			</table>
			<button th:formaction="'/admin/categories/' + ${category.id} + '/edit'" formmethod="post">更新</button>
			</form>
		</article>
	</main>
	<footer>
		<div id="copyright">&copy;2025 Office HOGE.</div>
	</footer>
</body>
</html>