<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>商品一覧</title>
	<link rel="stylesheet" href="/css/admin-style.css" />
</head>
<body>
	<header>
		<h1>商品一覧</h1>
	</header>
	<main>
		<article>
			<ul id="category-links">
				<li><a href="/admin/items">全商品</a></li>
				<li th:each="category:${categories}">
					<!-- TODO: 以下はThymeleafの仕様に忠実な記述 -->
					<a th:href="@{'/admin/items?categoryId=' + ${category.id}}"
					   th:text="${category.name}"></a>
					<!-- TODO: 以下は簡略記法：可読性の高い記述である。どちらを採用するかは作業者の好みだが、基本的にはコーディン技規約に従うべし！ -->
					<!--
				 	<a th:href="@{|/admin/items?categoryId=${category.id}|}"
				       th:text="${category.name}"></a>
					   -->
				</li>
			</ul>
			<table class="list-table" border="1">
				<tr>
					<th>商品ID</th>
					<th>商品名</th>
					<th>価格</th>
					<th>更新</th>
				</tr>
				<tr th:each="item:${items}">
					<td th:text="${item.id}"></td>
					<td th:text="${item.name}"></td>
					<td th:text="${item.price}"></td>
					<td>
						<form th:action="'/admin/items/' + ${item.id} + '/edit'">
							<button>更新</button>
						</form>
					</td>
				</tr>
			</table>
			<a href="/admin/items/add">新規商品登録</a>
		</article>
	</main>
	<footer>
		<div id="copyright">&copy;2025 Office HOGE.</div>
	</footer>
</body>
</html>